## Data Notes
This dataset was pulled from the Bureau of Labor Statistics at https://beta.bls.gov/dataViewer/view/613c964322424efea9e49069abe335e8

It should be noted that the dataset is seasonally adjusted, so I don't need to worry about dips in unemployment actually just being a seasonal dip. It would perhaps be interesting to compare this data with the unadjusted version in a easy line graph of something.

Also, it should be noted as well that LASST170000000000003 stands for Illinois. I'm not exactly sure why they chose this specific code for Illinois, but all the states, territories, and large metropolitan areas (NYC, LA, and DC) have a code like this.

So I looked up the codes for BLS. It looks like a lot of information goes into these codes, but it's the first two numbers that determine the state. In this case, 17 is Illinois; although, the state code is technically ST1700000000000 for Illinois. the 03 at the end stands for unemployment rate. The first S also likely means that the data is seasonally adjusted. I'll include the links to all the codes below.

* Page to find all codes - https://www.bls.gov/help/hlpforma.htm
* Area codes - https://download.bls.gov/pub/time.series/la/la.area
* Measure codes - https://download.bls.gov/pub/time.series/la/la.measure
* Seasonal adjustment codes - https://download.bls.gov/pub/time.series/bd/bd.seasonal
* State codes (simplified) - https://download.bls.gov/pub/time.series/sa/sa.state

In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv('state_unemployment_2019-2020.csv')

Things that need to happen with this dataframe:
* Replace Series ID with state name or add a column with the state name

In [3]:
df

                 Series ID  Year Period     Label Value
0     LASST010000000000003  2019    M01  2019 Jan   3.6
1     LASST010000000000003  2019    M02  2019 Feb   3.5
2     LASST010000000000003  2019    M03  2019 Mar   3.3
3     LASST010000000000003  2019    M04  2019 Apr   3.2
4     LASST010000000000003  2019    M05  2019 May   3.1
...                    ...   ...    ...       ...   ...
1243  LASST720000000000003  2020    M08  2020 Aug   8.3
1244  LASST720000000000003  2020    M09  2020 Sep   8.6
1245  LASST720000000000003  2020    M10  2020 Oct   9.0
1246  LASST720000000000003  2020    M11  2020 Nov   9.2
1247  LASST720000000000003  2020    M12  2020 Dec   9.2

[1248 rows x 5 columns]

Whoo! No null values! Yeah! That's what I want! Thank you BLS for doing a dang good job getting all the data!

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Series ID  1248 non-null   object
 1   Year       1248 non-null   int64
 2   Period     1248 non-null   object
 3   Label      1248 non-null   object
 4   Value      1248 non-null   object
dtypes: int64(1), object(4)
memory usage: 48.9+ KB

In [5]:
df.isnull().sum()

Series ID    0
Year         0
Period       0
Label        0
Value        0
dtype: int64

As previously mentioned in many of the other data cleaning files, .describe() is a waste of my time.

In [6]:
df.describe()

            Year
count  1248.0000
mean   2019.5000
std       0.5002
min    2019.0000
25%    2019.0000
50%    2019.5000
75%    2020.0000
max    2020.0000