In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv('Provisional_COVID-19_Death_COunts_by_Week_Ending_Date_and_State.csv')

In [3]:
df

,Data as of,Start Date,End Date,Group,Year,Month,MMWR Week,Week Ending Date,State,COVID-19 Deaths,Total Deaths,Percent of Expected Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,03/22/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,3.0,60167.0,98.0,4107.0,3.0,434.0,4541.0,NaN
1,03/22/2021,01/05/2020,01/11/2020,By Week,2020,NaN,2.0,01/11/2020,United States,0.0,60717.0,97.0,4153.0,0.0,474.0,4627.0,NaN
2,03/22/2021,01/12/2020,01/18/2020,By Week,2020,NaN,3.0,01/18/2020,United States,3.0,59348.0,97.0,4063.0,2.0,467.0,4531.0,NaN
3,03/22/2021,01/19/2020,01/25/2020,By Week,2020,NaN,4.0,01/25/2020,United States,1.0,59147.0,99.0,3917.0,0.0,499.0,4417.0,NaN
4,03/22/2021,01/26/2020,02/01/2020,By Week,2020,NaN,5.0,02/01/2020,United States,0.0,58811.0,99.0,3817.0,0.0,481.0,4298.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4423,03/22/2021,01/01/2020,03/20/2021,By Total,NaN,NaN,NaN,NaN,Washington,4785.0,74545.0,NaN,6176.0,2627.0,161.0,8489.0,NaN
4424,03/22/2021,01/01/2020,03/20/2021,By Total,NaN,NaN,NaN,NaN,West Virginia,2474.0,27058.0,NaN,2792.0,1205.0,68.0,4129.0,NaN
4425,03/22/2021,01/01/2020,03/20/2021,By Total,NaN,NaN,NaN,NaN,Wisconsin,7726.0,73555.0,NaN,5304.0,2470.0,171.0,10727.0,NaN
4426,03/22/2021,01/01/2020,03/20/2021,By Total,NaN,NaN,NaN,NaN,Wyoming,608.0,6507.0,NaN,598.0,274.0,10.0,942.0,NaN
4427,03/22/2021,01/01/2020,03/20/2021,By Total,NaN,NaN,NaN,NaN,Puerto Rico,1952.0,32195.0,NaN,4663.0,1338.0,96.0,5366.0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4428 entries, 0 to 4427
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Data as of                                4428 non-null   object
 1   Start Date                                4428 non-null   object
 2   End Date                                  4428 non-null   object
 3   Group                                     4428 non-null   object
 4   Year                                      4374 non-null   object
 5   Month                                     810 non-null    float64
 6   MMWR Week                                 3456 non-null   float64
 7   Week Ending Date                          3456 non-null   object
 8   State                                     4428 non-null   object
 9   COVID-19 Deaths                           3970 non-null   float64
 10  Total Deaths                              4421 non-null   float64
 11  Percent of Expected Deaths                4374 non-null   float64
 12  Pneumonia Deaths                          4148 non-null   float64
 13  Pneumonia and COVID-19 Deaths             3722 non-null   float64
 14  Influenza Deaths                          2974 non-null   float64
 15  Pneumonia, Influenza, or COVID-19 Deaths  4227 non-null   float64
 16  Footnote                                  2210 non-null   object
dtypes: float64(9), object(8)
memory usage: 588.2+ KB

In [5]:
df.isnull().sum()

Data as of                                     0
Start Date                                     0
End Date                                       0
Group                                          0
Year                                          54
Month                                       3618
MMWR Week                                    972
Week Ending Date                             972
State                                          0
COVID-19 Deaths                              458
Total Deaths                                   7
Percent of Expected Deaths                    54
Pneumonia Deaths                             280
Pneumonia and COVID-19 Deaths                706
Influenza Deaths                            1454
Pneumonia, Influenza, or COVID-19 Deaths     201
Footnote                                    2218
dtype: int64

In [6]:
df.describe()

,Month,MMWR Week,COVID-19 Deaths,Total Deaths,Percent of Expected Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
count,810.000000,3456.000000,3970.000000,4.421000e+03,4374.000000,4148.000000,3722.000000,2974.000000,4227.000000
mean,5.600000,23.390625,1054.518136,7.292499e+03,110.712163,873.287126,546.423428,23.055817,1380.936598
std,3.594805,16.073084,11150.973974,8.251202e+04,34.591030,9433.547280,5586.067531,250.674061,15069.534074
min,1.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,8.750000,19.000000,4.370000e+02,101.000000,45.000000,11.000000,0.000000,59.000000
50%,5.000000,21.500000,87.000000,1.090000e+03,111.000000,102.000000,43.000000,0.000000,147.000000
75%,9.000000,37.250000,304.000000,2.418000e+03,123.000000,274.000000,157.000000,0.000000,431.500000
max,12.000000,53.000000,522567.000000,4.007602e+06,737.000000,450241.000000,253918.000000,8993.000000,726649.000000