## Data Notes
https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36
The link contains more information about the data as well as what each column means.

It should also be noted that the dataset used was last updated on March 22, 2021.

In [39]:
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
#with open("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv", 'r') as file:
#    data = file.read()

In [25]:
#data

In [26]:
df = pd.read_csv('United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')

While this dataframe doesn't look like it at the moment, there is every single day in this dataset. I'm unsure why it's so out of order here and in the csv file since on the CDC's website it was ordered properly. Obviously, the ordering occured on the site after the csv file was created or something. One thing that I need to do is reorganize this dataset so that submission date goes from oldest to newest and it's organized alphabetically by state abbreviation.

In [27]:
df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,12/08/2020,OK,205999,171497.0,34502.0,0,0.0,1752,1680.0,72.0,0,0.0,12/09/2020 02:45:40 PM,Agree,Agree
1,08/29/2020,SD,12942,NaN,NaN,425,0.0,167,165.0,2.0,2,0.0,08/30/2020 02:49:52 PM,NaN,Agree
2,11/06/2020,SD,52639,NaN,NaN,1488,73.0,510,476.0,34.0,28,3.0,11/07/2020 02:45:17 PM,NaN,Agree
3,09/21/2020,MP,69,69.0,0.0,0,0.0,2,2.0,0.0,0,0.0,09/22/2020 01:51:57 PM,Agree,Agree
4,06/28/2020,PA,85988,83529.0,2459.0,492,13.0,6614,NaN,NaN,8,4.0,06/29/2020 02:37:31 PM,Agree,Not agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25495,02/10/2021,OH,928631,803885.0,124746.0,3281,901.0,11856,10522.0,1334.0,63,9.0,02/11/2021 02:50:55 PM,Agree,Agree
25496,09/05/2020,TN,162362,158070.0,4292.0,1765,93.0,1862,1810.0,52.0,25,0.0,09/06/2020 02:09:04 PM,Agree,Agree
25497,10/19/2020,KS,72968,67935.0,5033.0,2113,179.0,872,NaN,NaN,13,0.0,10/20/2020 02:59:27 PM,Agree,NaN
25498,12/05/2020,NY,368246,NaN,NaN,7532,0.0,10274,NaN,NaN,57,0.0,12/06/2020 02:51:16 PM,Not agree,Not agree
25499,03/31/2020,IA,497,NaN,NaN,73,NaN,7,NaN,NaN,1,NaN,03/30/2020 04:22:39 PM,Not agree,Not agree

As seen below, we have 8 columns with null values: 
* total confirmed cases
* total probable cases
* number of new probable cases 
* total number of confirmed deaths
* total number of probable deaths
* number of new probable deaths
* consent cases
* consent deaths

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25500 entries, 0 to 25499
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  25500 non-null  object
 1   state            25500 non-null  object
 2   tot_cases        25500 non-null  int64
 3   conf_cases       11231 non-null  float64
 4   prob_cases       11231 non-null  float64
 5   new_case         25500 non-null  int64
 6   pnew_case        20459 non-null  float64
 7   tot_death        25500 non-null  int64
 8   conf_death       11523 non-null  float64
 9   prob_death       11523 non-null  float64
 10  new_death        25500 non-null  int64
 11  pnew_death       20327 non-null  float64
 12  created_at       25500 non-null  object
 13  consent_cases    20825 non-null  object
 14  consent_deaths   21675 non-null  object
dtypes: float64(6), int64(4), object(5)
memory usage: 2.9+ MB

In [36]:
df.isnull().sum()

submission_date        0
state                  0
tot_cases              0
conf_cases         14269
prob_cases         14269
new_case               0
pnew_case           5041
tot_death              0
conf_death         13977
prob_death         13977
new_death              0
pnew_death          5173
created_at             0
consent_cases       4675
consent_deaths      3825
dtype: int64

In [37]:
df.isnull().sum().sum()

75206

The .describe() function doesn't seem to help much with this dataset.

In [30]:
df.describe()

,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death
count,2.550000e+04,1.123100e+04,11231.000000,25500.000000,20459.000000,25500.000000,11523.000000,11523.000000,25500.000000,20327.000000
mean,1.502621e+05,1.565249e+05,16380.322767,1162.842471,153.519967,3256.180706,3925.602274,429.141630,21.157529,2.242043
std,3.209638e+05,2.093744e+05,31119.590556,2779.316785,1006.807578,6043.666716,5011.503877,911.844126,66.032135,72.927253
min,0.000000e+00,0.000000e+00,0.000000,-33355.000000,-68176.000000,0.000000,0.000000,0.000000,-1824.000000,-5482.000000
25%,6.627500e+02,1.250300e+04,1.000000,2.000000,0.000000,13.000000,407.000000,0.000000,0.000000,0.000000
50%,2.914800e+04,7.452900e+04,2633.000000,279.000000,0.000000,649.000000,1807.000000,103.000000,3.000000,0.000000
75%,1.612300e+05,2.119535e+05,13760.000000,1128.250000,83.000000,3779.000000,5551.500000,336.000000,19.000000,0.000000
max,3.545278e+06,1.221863e+06,202497.000000,71734.000000,68408.000000,56118.000000,25650.000000,5482.000000,4585.000000,5482.000000

As seen below, we weirdly have 60 states.

In [31]:
df['submission_date'].value_counts()

12/04/2020    60
12/23/2020    60
10/29/2020    60
10/01/2020    60
08/14/2020    60
              ..
04/18/2020    60
12/07/2020    60
04/06/2020    60
07/26/2020    60
02/06/2021    60
Name: submission_date, Length: 425, dtype: int64

It's been determined that 10 of these aren't states. Some are actually territories.
* PW is Palau
* FSM is the Federated States of Micronesia
* PR is Puerto Rico
* GU is Guam
* NYC is New York City
* DC is District of Columbia
* RMI is Republic of the Marshall Islands
* MP is Northern Mariana Islands
* VI is Virgin Islands
* LA is Los Angeles

In [32]:
df['state'].value_counts()

OR     425
RI     425
OK     425
NV     425
OH     425
IL     425
NY     425
AL     425
NJ     425
WV     425
TX     425
MD     425
CT     425
IN     425
AK     425
AR     425
WY     425
ND     425
SC     425
CO     425
NH     425
MT     425
NC     425
ME     425
KY     425
SD     425
NM     425
MS     425
FL     425
KS     425
MO     425
ID     425
CA     425
PW     425
FSM    425
DE     425
PR     425
GU     425
AS     425
NYC    425
PA     425
HI     425
DC     425
WI     425
RMI    425
MA     425
GA     425
VA     425
MI     425
TN     425
IA     425
AZ     425
MP     425
MN     425
VI     425
NE     425
WA     425
UT     425
VT     425
LA     425
Name: state, dtype: int64

In [33]:
df['consent_cases'].value_counts()

Agree        13975
Not agree     6850
Name: consent_cases, dtype: int64

In [34]:
df['consent_deaths'].value_counts()

Agree        14450
Not agree     7225
Name: consent_deaths, dtype: int64

In [35]:
df['tot_cases'].value_counts()

0         3724
1          295
4          181
3          138
2          106
          ...
96965        1
27713        1
56001        1
119488       1
10019        1
Name: tot_cases, Length: 17643, dtype: int64

In [38]:
df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,12/08/2020,OK,205999,171497.0,34502.0,0,0.0,1752,1680.0,72.0,0,0.0,12/09/2020 02:45:40 PM,Agree,Agree
1,08/29/2020,SD,12942,NaN,NaN,425,0.0,167,165.0,2.0,2,0.0,08/30/2020 02:49:52 PM,NaN,Agree
2,11/06/2020,SD,52639,NaN,NaN,1488,73.0,510,476.0,34.0,28,3.0,11/07/2020 02:45:17 PM,NaN,Agree
3,09/21/2020,MP,69,69.0,0.0,0,0.0,2,2.0,0.0,0,0.0,09/22/2020 01:51:57 PM,Agree,Agree
4,06/28/2020,PA,85988,83529.0,2459.0,492,13.0,6614,NaN,NaN,8,4.0,06/29/2020 02:37:31 PM,Agree,Not agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25495,02/10/2021,OH,928631,803885.0,124746.0,3281,901.0,11856,10522.0,1334.0,63,9.0,02/11/2021 02:50:55 PM,Agree,Agree
25496,09/05/2020,TN,162362,158070.0,4292.0,1765,93.0,1862,1810.0,52.0,25,0.0,09/06/2020 02:09:04 PM,Agree,Agree
25497,10/19/2020,KS,72968,67935.0,5033.0,2113,179.0,872,NaN,NaN,13,0.0,10/20/2020 02:59:27 PM,Agree,NaN
25498,12/05/2020,NY,368246,NaN,NaN,7532,0.0,10274,NaN,NaN,57,0.0,12/06/2020 02:51:16 PM,Not agree,Not agree
25499,03/31/2020,IA,497,NaN,NaN,73,NaN,7,NaN,NaN,1,NaN,03/30/2020 04:22:39 PM,Not agree,Not agree