In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv('state_unemployment_2019-2020.csv')

In [3]:
df

                 Series ID  Year Period     Label Value
0     LASST010000000000003  2019    M01  2019 Jan   3.6
1     LASST010000000000003  2019    M02  2019 Feb   3.5
2     LASST010000000000003  2019    M03  2019 Mar   3.3
3     LASST010000000000003  2019    M04  2019 Apr   3.2
4     LASST010000000000003  2019    M05  2019 May   3.1
...                    ...   ...    ...       ...   ...
1243  LASST720000000000003  2020    M08  2020 Aug   8.3
1244  LASST720000000000003  2020    M09  2020 Sep   8.6
1245  LASST720000000000003  2020    M10  2020 Oct   9.0
1246  LASST720000000000003  2020    M11  2020 Nov   9.2
1247  LASST720000000000003  2020    M12  2020 Dec   9.2

[1248 rows x 5 columns]