## Data Notes
This dataset was pulled from the Bureau of Labor Statistics at https://beta.bls.gov/dataViewer/view/timeseries/LASST170000000000003

It should be noted that the dataset is seasonally adjusted, so I don't need to worry about dips in unemployment actually just being a seasonal dip. It would perhaps be interesting to compare this data with the unadjusted version in a easy line graph of something.

Also, it should be noted as well that LASST170000000000003 stands for Illinois. I'm not exactly sure why they chose this specific code for Illinois, but all the states, territories, and large metropolitan areas (NYC, LA, and DC) have a code like this.

So I looked up the codes for BLS. It looks like a lot of information goes into these codes, but it's the first two numbers that determine the state. In this case, 17 is Illinois; although, the state code is technically ST1700000000000 for Illinois. the 03 at the end stands for unemployment rate. The first S also likely means that the data is seasonally adjusted. I'll include the links to all the codes below.

* Page to find all codes - https://www.bls.gov/help/hlpforma.htm
* Area codes - https://download.bls.gov/pub/time.series/la/la.area
* Measure codes - https://download.bls.gov/pub/time.series/la/la.measure
* Seasonal adjustment codes - https://download.bls.gov/pub/time.series/bd/bd.seasonal
* State codes (simplified) - https://download.bls.gov/pub/time.series/sa/sa.state

In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv('IL_unemployment_2020.csv')

In [3]:
df

               Series ID  Year Period     Label  Value
0   LASST170000000000003  2020    M01  2020 Jan    3.5
1   LASST170000000000003  2020    M02  2020 Feb    3.6
2   LASST170000000000003  2020    M03  2020 Mar    3.7
3   LASST170000000000003  2020    M04  2020 Apr   16.5
4   LASST170000000000003  2020    M05  2020 May   15.4
5   LASST170000000000003  2020    M06  2020 Jun   14.2
6   LASST170000000000003  2020    M07  2020 Jul   12.0
7   LASST170000000000003  2020    M08  2020 Aug   11.1
8   LASST170000000000003  2020    M09  2020 Sep   10.4
9   LASST170000000000003  2020    M10  2020 Oct    8.1
10  LASST170000000000003  2020    M11  2020 Nov    8.1
11  LASST170000000000003  2020    M12  2020 Dec    8.0

Well, the great thing about a tiny dataset/dataframe is that it's super easy to eyeball. No null values here!

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Series ID  12 non-null     object
 1   Year       12 non-null     int64
 2   Period     12 non-null     object
 3   Label      12 non-null     object
 4   Value      12 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 608.0+ bytes

In [5]:
df.isnull().sum()

Series ID    0
Year         0
Period       0
Label        0
Value        0
dtype: int64

I think I've determined at this point that the .describe() function will likely be useless for all my datasets. I'm not sure why I keep checking it at this point.

In [6]:
df.describe()

         Year      Value
count    12.0  12.000000
mean   2020.0   9.550000
std       0.0   4.533812
min    2020.0   3.500000
25%    2020.0   6.925000
50%    2020.0   9.250000
75%    2020.0  12.550000
max    2020.0  16.500000