## Data Notes

The dataset being used here is Num_Pneumonia_Deaths_Illinois_2019.csv. I'll include all the other information about the dataset below.

Query Page URL: https://wonder.cdc.gov/controller/datarequest/D76;jsessionid=A0DDE7C21C0C596124544ED22C37 

Citation: 
Centers for Disease Control and Prevention, National Center for Health Statistics. Underlying Cause of Death 1999-2019 on CDC WONDER Online Database, released in 2020. Data are from the Multiple Cause of Death Files, 1999-2019, as compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program. Accessed at http://wonder.cdc.gov/ucd-icd10.html on Apr 18, 2021 5:53:21 PM

Query Criteria:
Title: Number of Pneumonia Deaths in 2019 in Illinois
ICD-10 Codes: J12.0 (Adenoviral pneumonia); J12.1 (Respiratory syncytial virus pneumonia); J12.2 (Parainfluenza virus pneumonia); J12.3 (Human metapneumovirus pneumonia); J12.8 (Other viral pneumonia); J12.9 (Viral pneumonia, unspecified); J13 (Pneumonia due to Streptococcus pneumoniae); J14 (Pneumonia due to Haemophilus influenzae); J15.0 (Pneumonia due to Klebsiella pneumoniae); J15.1 (Pneumonia due to Pseudomonas); J15.2 (Pneumonia due to staphylococcus); J15.3 (Pneumonia due to streptococcus, group B); J15.4 (Pneumonia due to other streptococci); J15.5 (Pneumonia due to Escherichia coli); J15.6 (Pneumonia due to other aerobic Gram-negative bacteria); J15.7 (Pneumonia due to Mycoplasma pneumoniae); J15.8 (Other bacterial pneumonia); J15.9 (Bacterial pneumonia, unspecified); J16.0 (Chlamydial pneumonia); J16.8 (Pneumonia due to other specified infectious organisms); J18.0 (Bronchopneumonia, unspecified); J18.1 (Lobar pneumonia, unspecified); J18.2 (Hypostatic pneumonia, unspecified); J18.8 (Other pneumonia, organism unspecified); J18.9 (Pneumonia, unspecified)
States: Illinois (17)
Year/Month: 2019
Group By: Month
Show Totals: True
Show Zero Values: False
Show Suppressed: False
Calculate Rates Per: 100,000
Rate Options: Default intercensal populations for years 2001-2009 (except Infant Age Groups)

Documentation: https://wonder.cdc.gov/wonder/help/ucd.html

In [2]:
import pandas as pd
import csv

In [6]:
df_2019 = pd.read_table('Num_Pneumonia_Deaths_Illinois_2019.txt', delimiter = ',')

In [7]:
df_2019

   Month Month Code  Deaths      Population      Crude Rate
0    Jan    2019/01     186  Not Applicable  Not Applicable
1    Feb    2019/02     213  Not Applicable  Not Applicable
2    Mar    2019/03     204  Not Applicable  Not Applicable
3    Apr    2019/04     141  Not Applicable  Not Applicable
4    May    2019/05     160  Not Applicable  Not Applicable
5    Jun    2019/06     159  Not Applicable  Not Applicable
6    Jul    2019/07     139  Not Applicable  Not Applicable
7    Aug    2019/08     133  Not Applicable  Not Applicable
8    Sep    2019/09     151  Not Applicable  Not Applicable
9    Oct    2019/10     153  Not Applicable  Not Applicable
10   Nov    2019/11     143  Not Applicable  Not Applicable
11   Dec    2019/12     166  Not Applicable  Not Applicable

In [8]:
df_2020 = pd.read_csv('IL_2020_month_data.csv')

In [9]:
df_2020

,Data as of,Start Date,End Date,Group,Year,Month,MMWR Week,Week Ending Date,State,COVID-19 Deaths,Total Deaths,Percent of Expected Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,03/22/2021,01/01/2020,2020-01-31,By Month,2020,1.0,NaN,NaN,Illinois,NaN,9800.0,97.0,678.0,NaN,51.0,730.0,One or more data cells have counts between 1-9...
1,03/22/2021,02/01/2020,2020-02-29,By Month,2020,2.0,NaN,NaN,Illinois,0.0,9183.0,104.0,601.0,0.0,55.0,656.0,NaN
2,03/22/2021,03/01/2020,2020-03-31,By Month,2020,3.0,NaN,NaN,Illinois,193.0,10102.0,108.0,886.0,113.0,87.0,1052.0,NaN
3,03/22/2021,04/01/2020,2020-04-30,By Month,2020,4.0,NaN,NaN,Illinois,2447.0,12418.0,142.0,1972.0,1270.0,17.0,3164.0,NaN
4,03/22/2021,05/01/2020,2020-05-31,By Month,2020,5.0,NaN,NaN,Illinois,2820.0,12243.0,141.0,1905.0,1377.0,NaN,3351.0,One or more data cells have counts between 1-9...
5,03/22/2021,06/01/2020,2020-06-30,By Month,2020,6.0,NaN,NaN,Illinois,1157.0,9728.0,119.0,935.0,539.0,0.0,1553.0,NaN
6,03/22/2021,07/01/2020,2020-07-31,By Month,2020,7.0,NaN,NaN,Illinois,442.0,9323.0,111.0,599.0,181.0,NaN,861.0,One or more data cells have counts between 1-9...
7,03/22/2021,08/01/2020,2020-08-31,By Month,2020,8.0,NaN,NaN,Illinois,486.0,9497.0,114.0,642.0,207.0,0.0,921.0,NaN
8,03/22/2021,09/01/2020,2020-09-30,By Month,2020,9.0,NaN,NaN,Illinois,546.0,9232.0,109.0,671.0,237.0,NaN,983.0,One or more data cells have counts between 1-9...
9,03/22/2021,10/01/2020,2020-10-31,By Month,2020,10.0,NaN,NaN,Illinois,1073.0,10271.0,116.0,955.0,482.0,NaN,1548.0,One or more data cells have counts between 1-9...
10,03/22/2021,11/01/2020,2020-11-30,By Month,2020,11.0,NaN,NaN,Illinois,3323.0,12832.0,145.0,2036.0,1593.0,0.0,3766.0,NaN
11,03/22/2021,12/01/2020,2020-12-31,By Month,2020,12.0,NaN,NaN,Illinois,4153.0,14047.0,148.0,2511.0,1996.0,NaN,4670.0,One or more data cells have counts between 1-9...